h1{
    font-family: 'Monoton', cursive;
}

div {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 8px outset silver;
    background-color: #9f9;
    padding: 10px;
}

button {
    background-color:rgba(255,255,0,.5);
}
