h1{
    font-family: 'Monoton', cursive;
}

.heading {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: 8px outset silver;
    background-color: #9f9;
    padding: 10px;
}

button {
    background-color:rgba(255,255,0,.5);
}
.bgimg{
    background: url(http://ultimatewalrus.com/turtles/img2/o-TURTLE-facebook.jpg) center/300px 300px no-repeat;
    bottom: 0px;
    height: 300px;
    width: 300px;
    margin: 10px auto;
    box-shadow: 10px 5px 5px black;
}
p{
    text-align: center
}
html{
    background-color: teal;
}